*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    list-style-type: none;
}
.main
{
    width: 100%;
}
.nav{
    width: 100%;
    height: 30px;
}
.login
{
    border: 2px solid rgb(19, 170, 170);
    color: rgb(32, 175, 175);
    background: white;
    padding: 5px 35px 10px 35px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type:none;
    font-size: small;
    gap: 70px;
}
.content{
    padding: 30px;
    background-color: rgb(228, 255, 246);
    text-align: center;
}
.bold{
    font-size: 40px;
}
.text
{
    color: rgb(126, 124, 124);
    font-size: 15px;
}
.box{
    color: white;
    background-color: rgb(3, 211, 200);
    border: none;
    padding: 0 10px;
    width: 150px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center
{
    padding: 20px;
    text-align: center;
}
.box1
{
    font-size: 8px;
    width:90px;
    height: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    background: rgb(233, 255, 255);
    border-radius: 15px;
    color: rgb(0, 174, 255);
}
.theme
{
    text-align: center;
    font-size: 25px;
}
.customers li{
    display: inline-block;
    margin: 10px;
}
.color
{
    color: rgb(0, 174, 255);
}
hr{
    color: rgba(255, 255, 255, 0.26);
    margin: 0 100px;
}
.content2
{
    margin:100px 0;
    padding-bottom: 50px;
}
.div2,.div3{
    padding: 20px;
    margin:10px auto;
    text-align: center;
}
.theme,.text{
    margin :10px 0;
}
.div2 img
{
    padding: 20px;
    margin-right: 100px;
    float: right;
}
.containerGrid
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
    margin: 50px 200px;
}
.imgGrid1
{
    background-color:rgb(255, 246, 247);
    padding:20px;
    width: 200px;
}
.imgGrid2
{
    background-color:rgb(260, 230, 255);
    padding:20px;
    width: 200px;
}
.imgGrid3
{
    background-color:rgb(230, 254, 255);
    padding:20px;
    width: 200px;
}
.imgGrid4
{
    background-color:rgb(251, 246, 258);
    padding:20px;
    width: 200px;
}
.imgGrid5
{
    background-color:rgb(253, 250, 230);
    padding:20px;
    width: 200px;
}
.imgGrid6
{
    background-color:rgb(253, 237, 233);
    padding:20px;
    width: 200px;
}
.options ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    font-size: medium;
}
.spanblue{
    color: rgb(0, 174, 255);
}
.spangrey{
    color:grey;
}
.line
{
    width:300px;
    height: 2px;
    background: rgb(0, 174, 255);
}
.withLine
{
    text-align: center;
}
.div4-1{
    padding: 40px;
    background-color: rgb(228, 255, 246);
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
    font-size: small;
}
.div4-2
{
    padding: 40px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
    font-size: small;
}
.div-4-2-1
{
    margin-left: 200px;
    padding: 100px 0px;
    
}
.innerdiv
{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
}
.innerdiv p{
    margin-top: 195px;
    padding: 20px;
    background-color: rgb(228, 255, 246);
}
.deepblue
{
    color: rgb(35, 35, 114);
}
.div5
{
    margin:50px auto;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.padding{
    padding-top: 50px;
}
.innerdiv-5
{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.div6
{
    margin: 50px;
}
.innerdiv-6{
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
}
.bgColor
{
    background-color: rgb(228, 255, 246);
    padding: 20px;
}
.footer
{
    color: white;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 100px;
}
.footer img{
    padding: 50px;
}
.bgBlack
{
    background-color: rgba(32, 32, 32, 0.993);
    color: rgb(126, 124, 124);
    font-size: 15px;
    padding:20px;
}
.copyright
{
    margin: 0  auto;
    display: flex;
    padding:20px;
    justify-content: center;
    align-items: center;
}
.img img
{
    padding :0 150px;
}
.terms
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.terms hr {
    margin:10px;
    height: 10px;
}
.hr{
    color: rgba(255, 255, 255, 0.26);;
}